<div id="nav-bar">
  <input
    id="nav-toggle"
    type="checkbox"
    #navToggle
    (change)="navToggled($event)"
  />
  <div id="nav-header">
    <a id="nav-title" href="" target="_blank" class="ps-3 pe-5">Ləziz Restaurant</a>
    <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr />
  </div>
  <div id="nav-content">
    <div
      class="nav-button"
      matTooltip="Kateqoriyalar"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-palette"></i><span>Kateqoriyalar</span>
    </div>
    <div
      class="nav-button"
      matTooltip="Alt kateqoriyalar"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-images"></i><span>Alt kateqoriyalar</span>
    </div>
    <div
      class="nav-button"
      matTooltip="Yeməklər"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-thumbtack"></i><span>Yeməklər</span>
    </div>
    <hr />
    <div
      class="nav-button"
      matTooltip="Masalar"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-heart"></i><span>Masalar</span>
    </div>
    <div
      class="nav-button"
      matTooltip="Səbətlər"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-chart-line"></i><span>Səbətlər</span>
    </div>
    <div
      class="nav-button"
      matTooltip="Sifarişlər"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-fire"></i><span>Sifarişlər</span>
    </div>
    <div
      class="nav-button"
      matTooltip="istifadəçilər"
      matTooltipPosition="right"
      [matTooltipDisabled]="disableTooltip"
    >
      <i class="fas fa-magic"></i><span>istifadəçilər</span>
    </div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox" />
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img
          src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
        />
      </div>
      <div id="nav-footer-titlebox">
        <a
          id="nav-footer-title"
          href="https://codepen.io/uahnbu/pens/public"
          target="_blank"
          >uahnbu</a
        ><span id="nav-footer-subtitle">Admin</span>
      </div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
      reiciendis. Dignissimos esse beatae asperiores iure officia? Consequuntur
      vitae illum ea, soluta a, incidunt dolorum ex repellat asperiores voluptas
      quo beatae.
    </div>
  </div>
</div>
