<div class="main">
  <div class="title d-flex justify-content-between align-items-center">
    <div><h1>Haqqımızda</h1></div>
    <!-- <div>
      <button routerLink="/new-about" class="px-4 py-2">Əlavə et</button>
    </div> -->
  </div>
  <div class="data_table">
    <table-togglable-columns
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [paginator]="true"
      [editButton]="true"
      [deleteButton]="true"
      editButtonText="düzəliş et"
    ></table-togglable-columns>
  </div>
</div>
